#contatos {
    background-color: #B47766;

    min-height: 940px;

    display: flex;
    flex-flow: row nowrap;
}

.side-bar {
    background: url('.././public/images/lines.png') center no-repeat;
    background-size: cover;

    max-width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.titulos-side-bar {
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.titulo-1-2-side-bar {
    text-align: center;
}

.titulo-side-bar {
    font-size: 24px;
    font-weight: 700;
    color: #FCFBFB;
}

.titulo-2-side-bar:not(.titulo-3-side-bar) {
    font-size: 32px;
}

.titulo-4-side-bar {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.div-img-massage {
    min-height: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.img-side-bar {
    width: 400px;

    border-radius: 112px;

    transform:rotateY(180deg);
    rotate: -68.14deg;
}
.form {
    width: 100%;

    padding-top: 110px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.titulo-contatos {
    font-size: 36px;
    font-weight: 900;
    color: #FCFBFB;
}

.select-inputs {
    width: 100%;
    height: 50%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.text-label {
    font-size: 20px;
    font-weight: 700;
    color: #FCFBFB;
}

.input-select-label {
    width: 400px;
    height: 70px;
    
    border: none;
    border-radius: 15px;
    
    padding-left: 20px;
    margin-top: 10px;

    font-size: 20px;
    text-transform: uppercase;
    color: #BC9084;

    outline: none;
}

.input-select-label::placeholder {
    font-weight: 200;
    color: #BC9084;
}

.input-select-label:focus {
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 25%);
}

.btns-contatos {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.endereco-tel {
    width: 100%;

    display: flex;
    justify-content: space-around;
}

.endereco-text, .tel-text {
    max-width: 330px;

    font-size: 24px;
    font-weight: 700;
    color: #FCFBFB;
}