@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;

  padding-top: 99px;
}
  @media (min-width: 320px) and (max-width: 743px) {
    body {
      padding-top: 59px;
    }
  }

button {
  cursor: pointer;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}